
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body{
    background: url(/images/club-4021428.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
  }
 
  .container {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 40vh; */
    /* min-height: 100vh; */
    min-height:50vh;  
    margin-top:25vh; 
    background-color:rgba(14, 5, 1, 0.74);
  }
  
  .pad {
    /* width: 18vh; */
    /* height: 18vh; */
    width: 11rem;
    height: 11rem;
    border: .4rem solid rgb(82, 80, 80);
    border-radius: 50%;
    /* border-radius: 2rem; */
    margin: .3rem;
    /* font-size: 2rem; */
    font-size: 4rem;
    transition: all .3s ease;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.8);
    text-shadow: 0 0 .5rem black;
    text-transform: uppercase;
  }
  
  .pressed {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600; 
  }

  
  .sound {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #ffc600;
  } 